! Use <xrdb -merge ~/.Xresources> to commit changes
!
! Fix the Xft dpi to 96; this prevents tiny fonts
! or HUGE fonts depending on the screen size.
Xft.dpi: 96

! hintstyle: medium means that (for Postscript fonts) we
! position the stems for maximum constrast and consistency
! but do not force the stems to integral widths. hintnone,
! hintslight, and hintfull are the other possibilities.
Xft.hintstyle: hintmedium
Xft.hinting: true

! color
xterm*background:   black
xterm*foreground:   grey

! font
xterm*faceName: Bitstream Vera Serif Mono
xterm*faceSize: 9
xterm*boldFont: fixed

! xterm layout
xterm*vt100*geometry: 60x30
xterm*scrollBar: false
xterm*toolBar: false
xterm.termName: xterm-256color
